[submodule "modules/vuestrap-loader"]
	path = modules/vuestrap-loader
	url = git@github.com:nicedoc/vuestrap-loader.git
[submodule "modules/vuestrap"]
	path = modules/vuestrap
	url = git@github.com:nicedoc/vuestrap.git
[submodule "modules/vuestrap-components"]
	path = modules/vuestrap-components
	url = git@github.com:nicedoc/vuestrap-components.git
